/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --red-400: hsl(0, 100%, 74%);
  --green-400: hsl(154, 59%, 51%);

  /* # ACCENT # */
  --purple-700: hsl(248, 32%, 49%);

  /* # NEUTRAL # */
  --gray-900: hsl(249, 10%, 26%);
  --purple-350: hsl(246, 25%, 77%);

  /* # TYPOGRAPHY # */
  --ff-poppins: "Poppins", sans-serif;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ### UTILITIES ### */

.text-bold {
  font-weight: var(--fw-700);
}

.text-accent {
  color: var(--red-400);
  font-weight: var(--fw-700);
}

.hide {
  display: none;
}

.error-message {
  color: var(--red-400);
  font-style: italic;
  text-align: end;
  font-size: 0.8rem;
  margin-top: 0.4rem;
}

.error-icon-container {
  position: absolute;
  top: 13.585px;
  right: 1.5rem;
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-poppins);
  /* min-height: 100vh; */
  background-color: var(--red-400);
  background-image: url(./images/bg-intro-mobile.png);
  background-repeat: no-repeat;
}

main {
  padding-inline: 1.7rem;
}

/* ### INTRO COMPONENT ### */

.grid {
  display: grid;
  grid-template-areas:
    "intro-section"
    "form-section";
}

/* ## INTRO SECTION ## */

.intro-section {
  grid-area: intro-section;
  color: #fff;
  text-align: center;
  padding-block: 5.6rem 3.5rem;
}

h1 {
  line-height: 1.1;
  font-size: clamp(1.6rem, 1.2787rem + 1.3709vw, 2.5125rem);
  max-width: 15ch;
  margin-inline: auto;
}

.intro-section p {
  margin-top: 1.45rem;
  font-weight: var(--fw-500);
  max-width: 45ch;
  margin-inline: auto;
  font-size: 0.815rem;
}

/* ## FORM SECTION ## */

.form-section {
  grid-area: form-section;
}

.offer-description {
  background-color: var(--purple-700);
  color: #fff;
  text-align: center;
  padding: 1rem;
  font-size: 0.925rem;
  border-radius: 0.6rem;
  box-shadow: 0px 8px 0px rgba(58, 58, 58, 0.194);
}

.offer-description p {
  max-width: 20ch;
  margin-inline: auto;
  color: var(--purple-350);
}

.offer-description span {
  color: #fff;
}

form {
  margin-top: 1.5rem;
  border-radius: 0.6rem;
  background-color: #fff;
  padding: 1.235rem;
  display: grid;
  gap: 1rem;
  box-shadow: 0px 8px 0px rgba(58, 58, 58, 0.194);
}

form input {
  border: 1px solid rgb(228, 226, 226);
  border-radius: 0.2rem;
  padding: 0.9rem 1.1rem;
  font-size: 0.85rem;
  width: 100%;
  font-weight: var(--fw-600);
}

form input:invalid {
  border-color: var(--red-400);
  color: var(--red-400);
}

form input::placeholder {
  color: #727272;
  font-weight: var(--fw-600);
}

form button {
  background-color: var(--green-400);
  color: #fff;
  padding: 0.9rem 1.5rem;
  border: 0;
  border-radius: 0.4rem;
  text-transform: uppercase;
  font-size: 0.9rem;
  letter-spacing: 2px;
  font-weight: var(--fw-600);
  box-shadow: 0px 5px 0px hsl(154, 54%, 47%);
  cursor: pointer;
}

form button:hover {
  filter: opacity(70%);
}

.input-container {
  position: relative;
}

.terms-warning {
  text-align: center;
  color: rgb(166, 164, 164);
  font-size: 0.75rem;
  line-height: 1.8;
  max-width: 35ch;
  margin-inline: auto;
}

/* ### MEDIA QUERIES ### */

@media (min-width: 23.438em) {
  body {
    background-image: url(./images/bg-intro-desktop.png);
    background-size: cover;
  }
}

@media (min-width: 35em) {
  .grid {
    min-height: 100vh;
    max-width: 1170px;
    margin-inline: auto;
    grid-template-areas: "intro-section form-section";
    align-content: center;
  }

  .intro-section {
    padding-block: 0;
    display: grid;
    align-content: center;
    text-align: start;
  }

  h1 {
    margin-inline: unset;
  }

  .intro-section p {
    max-width: 50ch;
    margin-inline: unset;
    font-size: 1rem;
    margin-top: 1.6rem;
  }

  .offer-description p {
    max-width: unset;
  }

  form {
    padding: 2rem 2rem 2.6rem;
  }

  form input {
    padding-inline-start: 1.6rem;
  }

  .terms-warning {
    max-width: unset;
  }
}
