/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --red-400: hsl(0, 100%, 74%);
  --green-400: hsl(154, 59%, 51%);

  /* # ACCENT # */
  --purple-700: hsl(248, 32%, 49%);

  /* # NEUTRAL # */
  --gray-900: hsl(249, 10%, 26%);
  --purple-350: hsl(246, 25%, 77%);

  /* # TYPOGRAPHY # */
  --ff-poppins: "Poppins", sans-serif;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}
