/* ### CUSTOM PROPERTIES ### */

:root {
  /* # PRIMARY # */
  --red-400: hsl(0, 100%, 74%);
  --green-400: hsl(154, 59%, 51%);

  /* # ACCENT # */
  --purple-700: hsl(248, 32%, 49%);

  /* # NEUTRAL # */
  --gray-900: hsl(249, 10%, 26%);
  --purple-350: hsl(246, 25%, 77%);

  /* # TYPOGRAPHY # */
  --ff-poppins: "Poppins", sans-serif;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

/* ### CSS RESET ### */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* ### UTILITIES ### */

.text-bold {
  font-weight: var(--fw-700);
}

.text-accent {
  color: var(--red-400);
  font-weight: var(--fw-700);
}

/* ### GENERAL STYLING ### */

body {
  font-family: var(--ff-poppins);
  /* min-height: 100vh; */
  background-color: var(--red-400);
  background-image: url(./images/bg-intro-mobile.png);
  background-repeat: no-repeat;
}

main {
  padding-inline: 1.5rem;
}

/* ### INTRO COMPONENT ### */

.grid {
  display: grid;
  grid-template-areas:
    "intro-section"
    "form-section";
}

/* ## INTRO SECTION ## */

.intro-section {
  grid-area: intro-section;
  color: #fff;
  text-align: center;
}

h1 {
  line-height: 1.1;
  font-size: 1.6rem;
  max-width: 15ch;
  margin-inline: auto;
}

.intro-section p {
  margin-top: 1.45rem;
  font-weight: var(--fw-500);
  max-width: 45ch;
  margin-inline: auto;
  font-size: 0.945rem;
}
